[mysqld]
user = root
# user = mysql
pid-file = /var/run/mysqld/mysqld.pid
socket = /run/mysqld/mysqld.sock
basedir = /usr
datadir = /var/lib/mysql
skip-networking = false
bind-address = 0.0.0.0
port = 3306
